@charset "UTF-8";

body {
    background-image: url('/icon.svg'), url('/icon_text.svg'), linear-gradient(to bottom right, white, rgba(23, 11, 40, 0.3));
    background-position: top left, max(12%, 20em) 2%, top left;
    background-size: max(9%, 10em), 40em, 130vw 130vh;
    background-repeat: no-repeat, no-repeat, no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: "URW Gothic", sans-serif;
}

/* Define a style for the post container */
.post-container {
    position: absolute;
    left: 51vw;
    top: 13vh;
    transform: translateX(calc(-50% + 6vw));
    width: 80vw;
    height: calc(83vh - 1rem);
    display: flex;
    gap: 10px;
    padding: 10px;
    transition: width 0.3s ease-in-out;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: inherit;
    z-index: 8;
}

.post-container.small {
    left: 0;
    width: 50vw;
    transform: none;
}

.app-container {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
}

footer {
    width: 100vw;
    height: 3vh;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    z-index: 10;
}


/* Define a style for the posts */
.post {
    font-size: 1.5em;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(23, 11, 40, 0.3);
    padding: 10px;
    width: calc(100% - 10px);
    font-family: inherit;
    z-index: 4;
}

/* Define a style for the post title */
.post-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Define a style for the post author */
.post-author {
    font-size: 1em;
    color: #442178;
    margin-bottom: 10px;
    overflow-x: hidden;
}

/* Define a style for the post content */
.post-content {
    line-height: 2.5;
    color: #170b28;
}

@media (min-width: 1080px) {
    .right-side {
        position: absolute;
        top: 0;
        width: 50vw;
        height: 100vh;
        background-color: rgba(23, 11, 40, 0.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 7;
    }

    .left-side {
        position: absolute;
        top: 17vh;
        width: 13vw;
        height: 81vh;
        background-color: #c75fd3c9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 4%/2%;
    }

    #inkwell {
        /* Your existing styles */
        transition: max-height 0.2s ease-out;
        overflow: hidden;
        width: 95%;
        max-height: 500px; /* Adjust to the actual height */
        z-index: 5;
        display: flex;
        justify-content: center;
    }
    
    #inkwell.collapsed {
        max-height: 0;
    }

    .hidden {
        transform: translateX(150%);
        visibility: hidden;
    }

    .shown {
        visibility: visible;
        transform: translateX(100%);
    }

    /* Define a style for the secondary button */
    button {
        display: inline-block;
        padding: 5px 10px;
        border: 1px solid #8d5fd3;
        border-radius: 0.5em;
        font-size: 1em;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        background-color: #ffffff;
        color: #8d5fd3;
        cursor: pointer;
        z-index: 7;
        transition: background-color 0.2s ease-in-out;
    }
}

@media (max-width: 1079px) {
    .post-container {
        transform: translateX(-50%);
    }

    .right-side {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(23, 11, 40, 0.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 7;
    }

    .left-side {
        position: absolute;
        background-color: Canvas;
        bottom: 0;
        right: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    #inkwell.collapsed {
        position: fixed;
        bottom: 0;
        right: 0;
        max-height: 50px; /* Adjust to the height of your icon */
        width: 50px; /* Adjust to the width of your icon */
    }

    #toggle-inkwell {
        position: fixed;
        bottom: 0;
        right: 0;
    }

    .hidden {
        visibility: hidden;
    }

    .shown {
        visibility: visible;
    }

    /* Define a style for the secondary button */
    button {
        display: inline-block;
        padding: 9px 19px;
        border: 1px solid #8d5fd3;
        border-radius: 0.8em;
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        background-color: #ffffff;
        color: #8d5fd3;
        cursor: pointer;
        z-index: 7;
        transition: background-color 0.2s ease-in-out;
    }
}

/* Define a style for the post editor textarea */
.post-editor #editor-content {
    width: calc(100% - 2em);
    height: 95%;
    padding: 1em;
    border: none;
    border-radius: 0.5em;
    background-color: #ffffff;
    font-size: 1.5em;
    line-height: 1.5;
}

/* Define a style for the secondary button when hovered */
button:hover {
    background-color: #c6afe9;
}

#debug{
    width: fit-content;
    height: fit-content;
    display: none;
    position: absolute;
    bottom: 100%;
}
#debugButton{
    width: 4vw;
    height: 2vh;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
}
#eventTest{
    width: 4vw;
    height: 2vh;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
}