@charset "UTF-8";

body {
    font-family: "URW Gothic", sans-serif;
}

/* Define a style for the post container */
#post-container {
    /*Math for Post Editor*/
    position: absolute;
    left: 51vw;
    top: 13vh;
    transform: translateX(calc(-50% + 6vw));
    width: 80vw;
    height: calc(83vh - 1rem);
    gap: 10px;
    padding: 10px;
    transition: width 0.3s ease-in-out;
    /*Flex items*/
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    /*More Stylings*/
    overflow-x: hidden;
    overflow-y: auto;
    font-family: inherit;
    z-index: 8;
    /*Should make jumping to hyperlinks smooth*/
    scroll-behavior: smooth;

    scrollbar-color: #8d5fd3 #ffffff00;
}
#post-container > iframe{
    max-height: calc(83vh - 1rem);
}

#post-container.small {
    left: 0;
    width: 50vw;
    transform: none;
}

.app-container {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
}

footer {
    width: 100vw;
    height: 3vh;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    z-index: 10;
}


/* Define a style for the posts */
.post {
    font-size: 1.5em;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(23, 11, 40, 0.3);
    padding: 10px;
    width: calc(100% - 10px);
    font-family: inherit;
    z-index: 4;
    flex: none;
}
/*Define style for signaling messages*/
.signal {
    font-size: 1.5em;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(23, 11, 40, 0.3);
    padding: 10px;
    width: calc(100% - 10px);
    font-family: inherit;
    z-index: 4;
    flex: none;

    display: none;
}
/* Define a style for iframes in posts*/
.postframe{
    font-size: 1em;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(23, 11, 40, 0.3);
    padding: 10px;
    width: 98%;
    font-family: inherit;
    z-index: 4;
    display: flex;
    flex: none;
    margin: auto;
}

/* Define a style for the post title */
.post-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Define a style for the post author */
.post-author {
    font-size: 1em;
    color: #442178;
    margin-bottom: 10px;
    overflow-x: hidden;
}

/* Define a style for the post content */
.post-content {
    line-height: 2.5;
    color: #170b28;
    font-family: "URW Gothic", sans-serif;
    font-size: 1em;
}

@media (min-width: 1080px) {
    .right-side {
        position: absolute;
        top: 0;
        width: 50vw;
        height: 100vh;
        background-color: #5f6bd3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 9;
    }

    .left-side {
        position: absolute;
        top: 17vh;
        width: 13vw;
        height: 81vh;
        background-color: #5f6bd3c9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 4%/2%;
    }

    #inkwell {
        /* Your existing styles */
        transition: max-height 0.2s ease-out;
        overflow: hidden;
        width: 95%;
        max-height: 500px; /* Adjust to the actual height */
        z-index: 5;
        display: flex;
        justify-content: center;
    }
    #inkwell > iframe {
        width: 90%; 
        height: 30vh; 
        border: none;
    }
    
    #inkwell.collapsed {
        max-height: 0;
    }

    .hidden {
        transform: translateX(150%);
        visibility: hidden;
    }

    .shown {
        visibility: visible;
        transform: translateX(100%);
    }

    /* Define a style for the secondary button */
    button {
        display: inline-block;
        padding: 5px 10px;
        border: 1px solid #8d5fd3;
        border-radius: 0.5em;
        font-size: 1em;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        background-color: #ffffff;
        color: #8d5fd3;
        cursor: pointer;
        z-index: 7;
        transition: background-color 0.2s ease-in-out;
    }

    .hide-post {
        background-image: url("/hide_BW.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 2vw;
        height: 3.5vh;
        margin-bottom: 0.5%;
    }
    .show-post {
        background-image: url("/show_BW.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 2vw;
        height: 3.5vh;
        margin-bottom: 0.5%;
    }
}

@media (max-width: 1079px) {
    #post-container {
        transform: translateX(-50%);
        height: calc(72vh - 1rem);
    }

    .right-side {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #5f6bd3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 9;
    }

    .left-side {
        position: absolute;
        background-color: #5f6bd3c9;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 81vw;
        height: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
        border-radius: 4%/2%;
    }
    #inkwell{
        height: 75%;
        width: 75%;
    }
    #inkwell.collapsed {
        position: fixed;
        bottom: 0;
        right: 0;
        max-height: 50px; /* Adjust to the height of your icon */
        width: 50px; /* Adjust to the width of your icon */
    }
    #inkwell > iframe {
        width: 90%; 
        height: 30vh; 
        border: none;
    }

    #toggle-inkwell {
        font-size: 1em;
    }

    .hidden {
        visibility: hidden;
    }

    .shown {
        visibility: visible;
    }

    /* Define a style for the secondary button */
    button {
        display: inline-block;
        padding: 9px 19px;
        border: 1px solid #8d5fd3;
        border-radius: 0.8em;
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        background-color: #ffffff;
        color: #8d5fd3;
        cursor: pointer;
        z-index: 7;
        transition: background-color 0.2s ease-in-out;
    }

    .hide-post {
        background-image: url('/hide_BW.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 3vw;
        height: 1.5vh;
        margin-bottom: 0.5%;
    }
    .show-post {
        background-image: url('/show_BW.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 3vw;
        height: 1.5vh;
        margin-bottom: 0.5%;
    }

    footer{
        visibility: hidden;
    }
}

#stub-post{
    display: none;
}

/* Define a style for the post editor textarea */
.post-editor #editor-content {
    width: calc(100% - 2em);
    height: 95%;
    padding: 1em;
    border: none;
    border-radius: 0.5em;
    background-color: #ffffff;
    font-size: 1.5em;
    line-height: 1.5;
}

/* Define a style for the secondary button when hovered */
button:hover {
    background-color: #c6afe9;
}

#debug{
    width: fit-content;
    height: fit-content;
    display: none;
    position: absolute;
    bottom: 100%;
}
#debugButton{
    width: 4vw;
    height: 2vh;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
}
#eventTest{
    width: 4vw;
    height: 2vh;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
}